Repository softeerbootcamp-2nd/H7-WantCar, pull requests merged in 2023-08, with the labels that each got.

#27 res: 이미지, 폰트 추가
  frontend/assets/favicon.ico
  frontend/assets/fonts/HyundaiSansHead-Bold.woff2
  frontend/assets/fonts/HyundaiSansHead-Medium.woff2
  frontend/assets/fonts/HyundaiSansHeadKROTFBold.woff2
  frontend/assets/fonts/HyundaiSansHeadKROTFMedium.woff2
  frontend/assets/fonts/HyundaiSansHeadKROTFRegular.woff2
  frontend/assets/fonts/HyundaiSansText-Medium.woff2
  frontend/assets/fonts/HyundaiSansTextKROTFBold.woff2
  frontend/assets/fonts/HyundaiSansTextKROTFMedium.woff2
  frontend/assets/fonts/HyundaiSansTextKROTFRegular.woff2
  frontend/assets/icons/arrow_back.svg
  frontend/assets/icons/arrow_down.svg
  frontend/assets/icons/cancel.svg
  frontend/assets/icons/check.svg
  frontend/assets/icons/info.svg
  frontend/assets/icons/link.svg
  frontend/assets/icons/plus.svg
  frontend/assets/icons/search.svg
  frontend/assets/images/Hyundai_logo.svg
Labels: 🖌 Frontend

#28 [Front-End] 헤더 컴포넌트 추가
  frontend/src/components/Header/Exit/Exit.jsx
  frontend/src/components/Header/Exit/ExitStyle.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/HeaderStyle.jsx
  frontend/src/components/Header/Logo/Logo.jsx
  frontend/src/components/Header/Logo/LogoStyle.jsx
  frontend/src/components/Header/Nav/Nav.jsx
  frontend/src/components/Header/Nav/NavStyle.jsx
  frontend/src/pages/Home/Home.jsx
Labels: 🖌 Frontend

#35 [Android] 초기화면 추가 구현 #25
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/MainViewModel.kt
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_confirm.xml
  Android/app/src/main/res/layout/fragment_exterior.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/fragment_option.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/values/styles.xml
  Android/app/src/main/res/values/themes.xml
Labels: ✨ Feature, 📱Android

#36 feat: Trim Card 컴포넌트 추가
  frontend/src/components/TrimCard/TrimCard.jsx
  frontend/src/components/TrimCard/TrimCardStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#40 [Front-End] feat: HMG 데이터 컴포넌트 추가
  frontend/src/components/HMGData/HMGData.jsx
  frontend/src/components/HMGData/HMGDataItem.jsx
  frontend/src/components/HMGData/HMGDataStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#44 [Front-End] feat: 트림 선택 영역 구현
  frontend/assets/images/TrimSelect/exterior.png
  frontend/assets/images/TrimSelect/interior.png
  frontend/assets/images/TrimSelect/wheel.png
  frontend/src/pages/Home/Section/Section.jsx
  frontend/src/pages/Home/Section/SectionStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#45 [Front-End] feat: 트림 선택 카드 구현
  frontend/src/pages/Home/Select/Select.jsx
  frontend/src/pages/Home/Select/SelectStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#47 [Front-End] feat: 메인 페이지 레이아웃 구현
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Home/HomeStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#50 [Android] Trim Card 아이템 구현 #30
  Android/app/src/main/java/com/softeer/cartalog/model/data/Trim.kt
  Android/app/src/main/java/com/softeer/cartalog/model/data/TrimOption.kt
  Android/app/src/main/res/drawable/tmp_trim_car.png
  Android/app/src/main/res/layout/item_trim_card.xml
Labels: ✨ Feature, 📱Android

#51 [Front-End] feat: 트림별 이미지 보기 애니메이션 추가
  frontend/assets/images/TrimSelect/LeBlanc/exterior.png
  frontend/assets/images/TrimSelect/LeBlanc/interior.png
  frontend/assets/images/TrimSelect/LeBlanc/wheel.png
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Home/Section/Section.jsx
  frontend/src/pages/Home/Section/SectionStyle.jsx
  frontend/src/pages/Home/Section/TrimImages/TrimImages.jsx
  frontend/src/pages/Home/Section/TrimImages/TrimImagesStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#52 [Android] TypeFragment UI구현 #32
  Android/app/src/main/java/com/softeer/cartalog/model/enums/ModelTypeSubject.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/view/CustomTypeSelectView.kt
  Android/app/src/main/res/drawable/icon_arrow_end_small.xml
  Android/app/src/main/res/drawable/icon_check.xml
  Android/app/src/main/res/drawable/selector_check_btn.xml
  Android/app/src/main/res/drawable/selector_type_select_box.xml
  Android/app/src/main/res/drawable/shape_round_box.xml
  Android/app/src/main/res/drawable/tmp_img_engine.png
  Android/app/src/main/res/layout/custom_typeselect.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/values/attrs.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/styles.xml
Labels: ✨ Feature, 📱Android

#54 [Front-End] 인터렉션 페이지 전환 feature/#48
  frontend/src/App.jsx
  frontend/src/components/TrimCard/TrimCard.jsx
  frontend/src/interaction/Interaction.jsx
  frontend/src/interaction/InteractionStyle.jsx
  frontend/src/main.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/pages/Home/HomeStyle.jsx
  frontend/src/pages/Home/Select/Select.jsx
Labels: ✨ Feature, 🖌 Frontend

#63 [Front-End] remove: 트림선택 컴포넌트 경로 변경
  frontend/src/interaction/Interaction.jsx
  frontend/src/pages/TrimSelect/Section/HMGData/HMGData.jsx
  frontend/src/pages/TrimSelect/Section/HMGData/HMGDataItem.jsx
  frontend/src/pages/TrimSelect/Section/HMGData/HMGDataStyle.jsx
  frontend/src/pages/TrimSelect/Section/Section.jsx
  frontend/src/pages/TrimSelect/Section/SectionStyle.jsx
  frontend/src/pages/TrimSelect/Section/TrimImages/TrimImages.jsx
  frontend/src/pages/TrimSelect/Section/TrimImages/TrimImagesStyle.jsx
  frontend/src/pages/TrimSelect/Select/Select.jsx
  frontend/src/pages/TrimSelect/Select/SelectStyle.jsx
  frontend/src/pages/TrimSelect/TrimSelect.jsx
  frontend/src/pages/TrimSelect/TrimSelectStyle.jsx
Labels: 🖌 Frontend

#64 [Front-End] 모델타입 레이아웃 설정
  frontend/src/App.jsx
  frontend/src/components/HMGTag/HMGTag.jsx
  frontend/src/components/HMGTag/index.jsx
  frontend/src/components/HMGTag/style.jsx
  frontend/src/components/Header/Exit/index.jsx
  frontend/src/components/Header/Exit/style.jsx
  frontend/src/components/Header/Logo/index.jsx
  frontend/src/components/Header/Logo/style.jsx
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/components/Header/Nav/style.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/components/Header/style.jsx
  frontend/src/interaction/index.jsx
  frontend/src/interaction/style.jsx
  frontend/src/main.jsx
  frontend/src/pages/ModelType/Section/HMGData/index.jsx
  frontend/src/pages/ModelType/Section/HMGData/style.jsx
  frontend/src/pages/ModelType/Section/index.jsx
  frontend/src/pages/ModelType/Section/style.jsx
  frontend/src/pages/ModelType/index.jsx
  frontend/src/pages/ModelType/style.jsx
  frontend/src/pages/TrimSelect/Section/HMGData/HMGDataItem.jsx
  frontend/src/pages/TrimSelect/Section/HMGData/index.jsx
  frontend/src/pages/TrimSelect/Section/HMGData/style.jsx
  frontend/src/pages/TrimSelect/Section/TrimImages/index.jsx
  frontend/src/pages/TrimSelect/Section/TrimImages/style.jsx
  frontend/src/pages/TrimSelect/Section/index.jsx
  frontend/src/pages/TrimSelect/Section/style.jsx
  frontend/src/pages/TrimSelect/Select/TrimCard/index.jsx
  frontend/src/pages/TrimSelect/Select/TrimCard/style.jsx
  frontend/src/pages/TrimSelect/Select/index.jsx
  frontend/src/pages/TrimSelect/Select/style.jsx
  frontend/src/pages/TrimSelect/TrimSelect.jsx
  frontend/src/pages/TrimSelect/index.jsx
  frontend/src/pages/TrimSelect/style.jsx
  frontend/src/styles/GlobalStyle.jsx
  frontend/src/styles/themes.jsx
Labels: ✨ Feature, 🖌 Frontend

#65 [Android] TypeFragment 선택기능 추가
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ConfirmFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/InteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/OptionFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/view/CustomTypeSelectView.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
  Android/app/src/main/res/drawable/selector_type_select_box.xml
  Android/app/src/main/res/drawable/shape_type_select_box_selected.xml
  Android/app/src/main/res/drawable/shape_type_select_box_unselected.xml
  Android/app/src/main/res/layout/custom_typeselect.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/values/attrs.xml
Labels: ✨ Feature, 📱Android

#68 [Front-End] feat: 트림선택 카드 한번에 하나만 선택되게 변경
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
Labels: 🖌 Frontend

#70 [Front-End] feat: 예산 범위 설정 컴포넌트 추가
  frontend/assets/icons/arrow_down.svg
  frontend/src/components/PriceStaticBar/Description/index.jsx
  frontend/src/components/PriceStaticBar/Description/style.jsx
  frontend/src/components/PriceStaticBar/Slider/Thumb.jsx
  frontend/src/components/PriceStaticBar/Slider/index.jsx
  frontend/src/components/PriceStaticBar/Slider/style.jsx
  frontend/src/components/PriceStaticBar/Slider/thumb.svg
  frontend/src/components/PriceStaticBar/SliderMark/index.jsx
  frontend/src/components/PriceStaticBar/SliderMark/style.jsx
  frontend/src/components/PriceStaticBar/index.jsx
  frontend/src/components/PriceStaticBar/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#71 [Front-End] 버튼 컴포넌트 구현 Fe feature/#60
  frontend/src/components/Button/index.jsx
  frontend/src/components/Button/style.jsx
  frontend/src/components/HMGTag/index.jsx
  frontend/src/components/HMGTag/style.jsx
  frontend/src/components/PriceStaticBar/index.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/components/Section/style.jsx
  frontend/src/components/Title/index.jsx
  frontend/src/interaction/index.jsx
  frontend/src/pages/AddOptionPage/Info/index.jsx
  frontend/src/pages/AddOptionPage/Pick/index.jsx
  frontend/src/pages/AddOptionPage/Pick/style.jsx
  frontend/src/pages/AddOptionPage/index.jsx
  frontend/src/pages/EstimateFinishPage/Info/index.jsx
  frontend/src/pages/EstimateFinishPage/Pick/index.jsx
  frontend/src/pages/EstimateFinishPage/Pick/style.jsx
  frontend/src/pages/ExteriorColorPage/Info/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/Info/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/style.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/style.jsx
  frontend/src/pages/ModelTypePage/Info/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/HMGData/index.jsx
  frontend/src/pages/TrimSelectPage/Info/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/style.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/styles/themes.jsx
Labels: ✨ Feature, 🔨 Refactor, 🖌 Frontend

#74 feat: PickTitle 컴포넌트 구현
  frontend/src/components/PickTitle/index.jsx
  frontend/src/components/PickTitle/style.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#76 [Front-End] design: 트림 선택 페이지 레이아웃 수정
  frontend/src/pages/TrimSelectPage/Info/TrimImage/style.jsx
  frontend/src/pages/TrimSelectPage/Info/style.jsx
Labels: 🎨 Html&css, 🖌 Frontend

#79 [Front-End] feat: HMG 데이터 그래프 구현
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/style.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#80 자동 배포 기능 구현 #72
  .github/workflows/SpringAPIDeploy.yml
  backend/appspec.yml
  backend/deploy.sh
Labels: ⚙ Setting, 🌏 Deploy, 🔧 Backend

#83 [Front-End] feat: Popup 컴포넌트 추가
  frontend/src/components/Popup/index.jsx
  frontend/src/components/Popup/style.jsx
  frontend/src/styles/GlobalStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#84 [Front-End] Fe feature/#81
  frontend/assets/images/ModelType/body.png
  frontend/assets/images/ModelType/diesel.png
  frontend/src/components/Button/index.jsx
  frontend/src/components/Button/style.jsx
  frontend/src/components/HMGTag/index.jsx
  frontend/src/components/HMGTag/style.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/components/Section/style.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/index.jsx
  frontend/src/pages/ModelTypePage/Info/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/index.jsx
  frontend/src/styles/themes.jsx
Labels: ✨ Feature, 🖌 Frontend

#86 [Front-End] feat: Section 레이아웃 수정
  frontend/src/components/Section/index.jsx
  frontend/src/components/Section/style.jsx
  frontend/src/pages/AddOptionPage/Info/index.jsx
  frontend/src/pages/AddOptionPage/Info/style.jsx
  frontend/src/pages/AddOptionPage/index.jsx
  frontend/src/pages/ModelTypePage/Info/index.jsx
  frontend/src/pages/ModelTypePage/Info/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
Labels: 🔨 Refactor, 🖌 Frontend

#88 [Front-End] design: 팝업 컴포넌트 스타일 수정
  frontend/src/components/Popup/style.jsx
Labels: 🎨 Html&css, 🖌 Frontend

#89 [Backend] 일부 Mock API 구현
  backend/build.gradle
  backend/src/main/java/softeer/wantcar/cartalog/CartalogApplication.java
  backend/src/main/java/softeer/wantcar/cartalog/config/SwaggerConfig.java
  backend/src/main/java/softeer/wantcar/cartalog/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/controller/TrimColorController.java
  backend/src/main/java/softeer/wantcar/cartalog/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/dto/HMGDataDto.java
  backend/src/main/java/softeer/wantcar/cartalog/dto/ModelTypeListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/dto/TrimExteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/dto/TrimInteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/dto/TrimListResponseDTO.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/Color.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/HMGData.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/HashTag.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/BasicModel.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/DetailModel.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/DetailModelDecisionOption.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/ModelExteriorColor.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/ModelInteriorColor.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/ModelOption.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/trim/DetailTrim.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/trim/DetailTrimOption.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/trim/DetailTrimPackage.java
  backend/src/main/java/softeer/wantcar/cartalog/entity/trim/Trim.java
  backend/src/main/java/softeer/wantcar/cartalog/service/MockTrimColorService.java
  backend/src/main/java/softeer/wantcar/cartalog/service/TrimColorService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/softeer/wantcar/cartalog/CartalogApplicationTests.java
  backend/src/test/java/softeer/wantcar/cartalog/controller/ModelControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/controller/TrimControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/service/MockTrimColorServiceTest.java
Labels: 📬 API, 🔧 Backend

#93 [Front-End] feat: 내외장 색상 선택 카드 추가
  frontend/assets/icons/check.svg
  frontend/src/components/ColorCard/index.jsx
  frontend/src/components/ColorCard/style.jsx
  frontend/src/components/ColorChip/index.jsx
  frontend/src/components/ColorChip/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#94 [Backend] CORS 설정 추가
  backend/src/main/java/softeer/wantcar/cartalog/config/WebConfig.java
  backend/src/main/resources/application.yml
Labels: 📬 API, 🔧 Backend

#95 [Front-End] feat: RoundButton 컴포넌트 구현
  frontend/src/components/Button/style.jsx
  frontend/src/components/RoundButton/index.jsx
  frontend/src/components/RoundButton/style.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#98 [Front-End] fix: eslint 작동 안하는 문제 수정
  frontend/.eslintrc.cjs
Labels: 🐞 BugFix, 🖌 Frontend

#102 [Front-End] feat: 내외장 토글 구현
  frontend/src/components/Toggle/index.jsx
  frontend/src/components/Toggle/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#103 [Backend] 남은 Mock API 구현
  backend/src/main/java/softeer/wantcar/cartalog/dto/ModelTypeListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/global/dto/HMGDataDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/ModelPerformanceDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/ModelTypeListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimColorController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimOptionController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/OptionDetailResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimExteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimInteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimListResponseDTO.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimOptionDetailResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimOptionListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimPackageDetailResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/MockTrimColorService.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimColorService.java
  backend/src/test/java/softeer/wantcar/cartalog/model/controller/ModelControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimOptionControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/service/MockTrimColorServiceTest.java
Labels: 📬 API, 🔧 Backend

#105 [BackEnd] 배포가 두번 되는 심각한 현상 패치#104
  .github/workflows/SpringAPIDeploy.yml
Labels: 🌏 Deploy, 🐞 BugFix, 🔧 Backend

#109 [Front-End] Fe feature/#96
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/style.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimStand/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimStand/style.jsx
  frontend/src/pages/ExteriorColorPage/Info/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#101 [Android] 타입 설명 슬라이드형 커스텀 다이얼로그 구현#34
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/softeer/cartalog/model/data/Type.kt
  Android/app/src/main/java/com/softeer/cartalog/model/data/TypeHmgData.kt
  Android/app/src/main/java/com/softeer/cartalog/model/data/TypeOption.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ImageBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TextBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TypeDetailPopupAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/TypeDetailDialog.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/TypeDetailPopupActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/view/TypeSelectView.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
  Android/app/src/main/res/drawable/outline_close_24.xml
  Android/app/src/main/res/layout/activity_type_detail_popup.xml
  Android/app/src/main/res/layout/dialog_type_detail.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/layout/view_typeselect.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/app/src/main/res/values/styles.xml
Labels: ✨ Feature, 📱Android

#124 [ANDROID] PR #34번 merge 도중 발생한 이슈 수정
  Android/app/src/main/res/layout/activity_type_detail_popup.xml
  Android/app/src/main/res/layout/dialog_type_detail.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/layout/view_typeselect.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/styles.xml
Labels: 🐞 BugFix, 📱Android

#128 [Front-End] eslint 설정 변경
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/index.jsx
  frontend/src/components/ColorCard/index.jsx
  frontend/src/components/ColorChip/index.jsx
  frontend/src/components/HMGTag/index.jsx
  frontend/src/components/PickTitle/index.jsx
  frontend/src/components/Popup/index.jsx
  frontend/src/components/PriceStaticBar/Description/index.jsx
  frontend/src/components/PriceStaticBar/Slider/Thumb.jsx
  frontend/src/components/PriceStaticBar/Slider/index.jsx
  frontend/src/components/PriceStaticBar/SliderMark/index.jsx
  frontend/src/components/PriceStaticBar/index.jsx
  frontend/src/components/RoundButton/index.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/components/Title/index.jsx
  frontend/src/components/Toggle/index.jsx
  frontend/src/interaction/index.jsx
  frontend/src/pages/AddOptionPage/Info/index.jsx
  frontend/src/pages/AddOptionPage/Pick/index.jsx
  frontend/src/pages/EstimateFinishPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Info/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/HMGData/index.jsx
  frontend/src/pages/TrimSelectPage/Info/TrimImage/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
Labels: 🐞 BugFix, 🔨 Refactor, 🖌 Frontend

#126 [Backend] Swagger를 통해 API 목록을 볼 수 있도록 수정
  backend/src/main/java/softeer/wantcar/cartalog/config/SwaggerConfig.java
Labels: 🐞 BugFix, 📬 API, 🔧 Backend

#136 feat: 외장 색상 Pick영역 레이아웃 구성
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#139 [Backend] MockData 잘못된 데이터 수정#137
  backend/src/main/java/softeer/wantcar/cartalog/entity/Color.java
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimColorController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimExteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimInteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/MockTrimColorService.java
  backend/src/test/java/softeer/wantcar/cartalog/model/controller/ModelControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimControllerTest.java
Labels: 🐞 BugFix, 🔧 Backend

#142 [Front-End] 카드 컴포넌트 공통 스타일 분리, 타입 선택 카드 추가
  frontend/src/components/CheckIcon/index.jsx
  frontend/src/components/ColorCard/index.jsx
  frontend/src/components/ColorCard/style.jsx
  frontend/src/components/ColorChip/index.jsx
  frontend/src/components/ColorChip/style.jsx
  frontend/src/components/TypeCard/index.jsx
  frontend/src/components/TypeCard/style.jsx
  frontend/src/styles/GlobalStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#143 [Backend] 설정 파일 분리 #140
  .github/workflows/SpringAPIDeploy.yml
  backend/.gitignore
  backend/deploy.sh
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimListResponseDto.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimControllerTest.java
Labels: 🌏 Deploy, 🔧 Backend

#144 [Backend] 설정 파일 분리 버그 수정 #140
  .github/workflows/SpringAPIDeploy.yml
Labels: 🌏 Deploy, 🐞 BugFix, 🔧 Backend

#145 [Backend] 설정 파일 분리 버그 수정 #140
  .github/workflows/SpringAPIDeploy.yml
Labels: 🌏 Deploy, 🐞 BugFix, 🔧 Backend

#146 [Backend] 설정 파일 분리 버그 수정 #140
  .github/workflows/SpringAPIDeploy.yml
Labels: 🌏 Deploy, 🐞 BugFix, 🔧 Backend

#147 [Backend] 설정 파일 분리 #140
  .github/workflows/SpringAPIDeploy.yml
Labels: 🌏 Deploy, 🐞 BugFix, 🔧 Backend

#149 [Front-End] feat: Interaction 컴포넌트 대신 react-router-dom 사용하도록 변경
  frontend/src/App.jsx
  frontend/src/components/Button/index.jsx
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/components/PageLayout/index.jsx
  frontend/src/interaction/index.jsx
  frontend/src/interaction/style.jsx
  frontend/src/pages/AddOptionPage/index.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#150 [Android] 내/외장 선택 화면 UI 구현
  Android/app/src/main/java/com/softeer/cartalog/model/data/CarColor.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ExteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/InteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/InteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/InteriorViewModel.kt
  Android/app/src/main/res/drawable/icon_360_guide.png
  Android/app/src/main/res/drawable/shape_ring_card.xml
  Android/app/src/main/res/drawable/tmp_img_interior.png
  Android/app/src/main/res/drawable/tmp_img_interior_main.png
  Android/app/src/main/res/layout/fragment_exterior.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/layout/item_exterior_color.xml
  Android/app/src/main/res/layout/item_interior_color.xml
Labels: ✨ Feature, 📱Android

#152 [Backend] 스프링 데이터베이스 테스트 초기 설정 완료
  backend/build.gradle
  backend/src/test/java/softeer/wantcar/cartalog/CartalogApplicationTests.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/schema.sql
Labels: ⚙ Setting, 🔧 Backend

#153 [Android] 예산 범위 설정 플로팅 UI 구현 /#134
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/MainViewModel.kt
  Android/app/src/main/res/drawable/icon_arrow_down_big.xml
  Android/app/src/main/res/drawable/icon_seekbar_user_pin.xml
  Android/app/src/main/res/drawable/shape_seekbar_bar.xml
  Android/app/src/main/res/drawable/shape_seekbar_bar_excess.xml
  Android/app/src/main/res/drawable/shape_seekbar_thumb.xml
  Android/app/src/main/res/drawable/shape_seekbar_thumb_excess.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/values/colors.xml
Labels: ✨ Feature, 📱Android

#154 [Front-End] Context, Storage utils 설정
  frontend/src/main.jsx
  frontend/src/pages/EstimateFinishPage/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
  frontend/src/utils/Storage/index.js
Labels: ✨ Feature, 🖌 Frontend

#157 [Android] 내/외장 선택화면 색상 선택 기능 구현 (작동영상)
  Android/app/src/main/java/com/softeer/cartalog/model/data/CarColor.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ExteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/InteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/util/UtilManager.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/InteriorViewModel.kt
  Android/app/src/main/res/layout/item_exterior_color.xml
  Android/app/src/main/res/layout/item_interior_color.xml
  Android/app/src/main/res/values/colors.xml
Labels: ✨ Feature, 📱Android

#159 [Android] API 통신을 위한 Retrofit2 초기 설정
  Android/app/build.gradle
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/softeer/cartalog/data/enums/ModelTypeSubject.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/CarColor.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Trim.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/TrimOption.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Type.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/TypeHmgData.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/TypeOption.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Types.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/RetrofitClient.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/local/CarLocalDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/remote/CarRemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/model/repository/DataRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/model/repository/DataRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/model/repository/local/LocalDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/model/repository/remote/RemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ExteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/InteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TrimCardAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TypeDetailPopupAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/view/TypeSelectView.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/InteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TrimViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
  Android/app/src/main/res/layout/dialog_type_detail.xml
  Android/app/src/main/res/layout/item_exterior_color.xml
  Android/app/src/main/res/layout/item_interior_color.xml
  Android/app/src/main/res/layout/item_trim_card.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/layout/view_typeselect.xml
Labels: ✨ Feature, 📬 API, 📱Android

#161 [Front-End] ModelType API 연동 설정
  frontend/src/components/TypeCard/style.jsx
  frontend/src/pages/ModelTypePage/Pick/PickCard/index.jsx
  frontend/src/pages/ModelTypePage/Pick/PickCard/style.jsx
  frontend/src/pages/ModelTypePage/Pick/constants.js
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/styles/GlobalStyle.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#164 [Front-End] feat: 트림 선택 페이지 API 연결
  frontend/src/components/Title/style.jsx
  frontend/src/pages/TrimSelectPage/Info/HMGData/index.jsx
  frontend/src/pages/TrimSelectPage/Info/HMGData/style.jsx
  frontend/src/pages/TrimSelectPage/Info/TrimImage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/styles/GlobalStyle.jsx
Labels: ✨ Feature, 🖌 Frontend

#166 [Front-End] NextButton 컴포넌트 구현
  frontend/src/components/NextButton/constants.js
  frontend/src/components/NextButton/index.jsx
  frontend/src/components/NextButton/style.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/styles/GlobalStyle.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#167 [Front-End] ModelType의 Pick영역 구현
  frontend/src/components/Footer/index.jsx
  frontend/src/components/Footer/style.jsx
  frontend/src/components/NextButton/style.jsx
  frontend/src/components/PageLayout/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/HMGUnit/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/HMGUnit/style.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/constants.js
  frontend/src/pages/ModelTypePage/Pick/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/style.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#170 [Front-End] 외장색상 Pick 영역 구현 & API 연결
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
  frontend/src/pages/ExteriorColorPage/constants.js
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#172 [Backend] db 스키마 및 데이터 변경 #169
  backend/src/test/resources/csv/basic_model_categories.csv
  backend/src/test/resources/csv/basic_models.csv
  backend/src/test/resources/csv/colors.csv
  backend/src/test/resources/csv/detail_model_decision_options.csv
  backend/src/test/resources/csv/detail_models.csv
  backend/src/test/resources/csv/detail_trim_option_interior_color_condition.csv
  backend/src/test/resources/csv/detail_trim_options.csv
  backend/src/test/resources/csv/detail_trim_package_interior_color_condition.csv
  backend/src/test/resources/csv/detail_trim_packages.csv
  backend/src/test/resources/csv/detail_trims.csv
  backend/src/test/resources/csv/hash_tag_categories.csv
  backend/src/test/resources/csv/hash_tags.csv
  backend/src/test/resources/csv/hmg_data.csv
  backend/src/test/resources/csv/model_exterior_colors.csv
  backend/src/test/resources/csv/model_interior_colors.csv
  backend/src/test/resources/csv/model_option_child_categories.csv
  backend/src/test/resources/csv/model_option_hash_tags.csv
  backend/src/test/resources/csv/model_option_parent_categories.csv
  backend/src/test/resources/csv/model_options.csv
  backend/src/test/resources/csv/package_hash_tags.csv
  backend/src/test/resources/csv/trim_exterior_colors.csv
  backend/src/test/resources/csv/trim_interior_colors.csv
  backend/src/test/resources/csv/trim_package_options.csv
  backend/src/test/resources/csv/trims.csv
  backend/src/test/resources/schema.sql
Labels: 🔧 Backend, 📚 DB

#173 [Front-End] 외장색상 페이지 API 연동
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/style.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimStand/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimStand/style.jsx
  frontend/src/pages/ExteriorColorPage/Info/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/constants.js
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: 📬 API, 🖌 Frontend

#176 [Front-End] feat: 옵션 선택 카드 컴포넌트 추가
  frontend/src/pages/AddOptionPage/OptionCard/index.jsx
  frontend/src/pages/AddOptionPage/OptionCard/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#177 [Front-End] 내장색상 페이지 Pick 구현 및 API 연동
  frontend/src/components/ColorChip/index.jsx
  frontend/src/components/ColorChip/style.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Info/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/style.jsx
  frontend/src/pages/InteriorColorPage/constants.js
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#178 [Android] 견적 요약 구현 #135
  Android/app/build.gradle
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/PriceSummaryBottomSheetFragment.kt
  Android/app/src/main/res/drawable/icon_close.xml
  Android/app/src/main/res/drawable/selector_btn_price_summary.xml
  Android/app/src/main/res/drawable/selector_radio_exterior_interior.xml
  Android/app/src/main/res/drawable/selector_radio_text_exterior_interior.xml
  Android/app/src/main/res/drawable/selector_text_price_summary.xml
  Android/app/src/main/res/drawable/shape_bottomsheet_corner.xml
  Android/app/src/main/res/drawable/shape_btn_price_summary_active.xml
  Android/app/src/main/res/drawable/shape_btn_price_summary_clicked.xml
  Android/app/src/main/res/drawable/shape_toggle_background.xml
  Android/app/src/main/res/drawable/tmp_img_summary_car.png
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/dialog_type_detail.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 📱Android

#184 [Front-End] Fe feature/#181 페이지 상단에 예산 범위 슬라이더 추가
  frontend/src/components/PriceStaticBar/style.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/pages/EstimateFinishPage/Info/index.jsx
  frontend/src/pages/EstimateFinishPage/Info/style.jsx
  frontend/src/pages/EstimateFinishPage/Pick/index.jsx
  frontend/src/pages/EstimateFinishPage/Pick/style.jsx
  frontend/src/pages/EstimateFinishPage/Preview/index.jsx
  frontend/src/pages/EstimateFinishPage/Preview/style.jsx
  frontend/src/pages/EstimateFinishPage/index.jsx
  frontend/src/pages/EstimateFinishPage/style.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#186 [Front-End] fix: 슬라이더 스크롤 되는 문제, 완료 페이지 폰트 깨지는 문제 수정
  frontend/src/components/PriceStaticBar/style.jsx
  frontend/src/styles/themes.jsx
Labels: 🐞 BugFix, 🖌 Frontend

#188 [Front-End] Header 페이지 전환 State 적용 및 페이지 네이밍 수정
  frontend/assets/icons/arrow_down.svg
  frontend/assets/images/Hyundai_logo.svg
  frontend/src/App.jsx
  frontend/src/components/Header/Exit/index.jsx
  frontend/src/components/Header/Logo/index.jsx
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/components/Header/Nav/style.jsx
  frontend/src/components/Header/constants.js
  frontend/src/components/NavToggle/index.jsx
  frontend/src/components/NavToggle/style.jsx
  frontend/src/pages/AddOptionPage/index.jsx
  frontend/src/pages/EstimationPage/Preview/index.jsx
  frontend/src/pages/EstimationPage/Preview/style.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/EstimationPage/style.jsx
  frontend/src/pages/OptionPickerPage/Info/index.jsx
  frontend/src/pages/OptionPickerPage/Info/style.jsx
  frontend/src/pages/OptionPickerPage/OptionCard/index.jsx
  frontend/src/pages/OptionPickerPage/OptionCard/style.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/style.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#190 [Android] 옵션 화면 UI 구현
  Android/app/src/main/java/com/softeer/cartalog/data/enums/OptionMode.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Option.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Options.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/OptionAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/OptionDefaultAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/OptionSelectAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/OptionFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/OptionViewModel.kt
  Android/app/src/main/res/drawable/selector_radio_option_category.xml
  Android/app/src/main/res/drawable/selector_radio_text_option_category.xml
  Android/app/src/main/res/drawable/tmp_img_option_item.png
  Android/app/src/main/res/layout/fragment_exterior.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/fragment_option.xml
  Android/app/src/main/res/layout/item_option_default_card.xml
  Android/app/src/main/res/layout/item_option_select_card.xml
  Android/app/src/main/res/layout/item_trim_card.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/styles.xml
Labels: ✨ Feature, 📱Android

#191 [Front-End] NextButton 컴포넌트 navigate 추가 구현
  frontend/src/components/Button/index.jsx
  frontend/src/components/NextButton/constants.js
  frontend/src/components/NextButton/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#193 [Android] 견적 완료 / Activity 변경 사항 구현 #179
  Android/app/build.gradle
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/res/drawable/shape_radio_background.xml
  Android/app/src/main/res/drawable/shape_seekbar_transparent.xml
  Android/app/src/main/res/drawable/shape_tab_background.xml
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/styles.xml
Labels: ✨ Feature, 📱Android

#192 [Backend] 트림 목록 조회 API 구현 #111
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/BasicModel.java
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryImpl.java
  backend/src/main/resources/application.yml
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
  backend/src/test/resources/csv/basic_models.csv
  backend/src/test/resources/csv/hmg_data.csv
  backend/src/test/resources/csv/model_options.csv
  backend/src/test/resources/csv/trims.csv
  backend/src/test/resources/schema.sql
Labels: ✨ Feature, 📬 API, 🔧 Backend

#196 [Front-End] 트림선택 페이지 API 연결
  frontend/src/pages/TrimSelectPage/Info/HMGData/index.jsx
  frontend/src/pages/TrimSelectPage/Info/HMGData/style.jsx
  frontend/src/pages/TrimSelectPage/Info/TrimImage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/constants.js
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: 📬 API, 🖌 Frontend

#199 [Front-End] 모델타입 페이지 API 연동
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/index.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/PickCard/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/constants.js
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#200 [Backend] 트림 목록 조회 API 실 사용 데이터 양식 변경 #198
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryImpl.java
Labels: 📬 API, 🔧 Backend

#203 [Front-End] 자동 배포 액션 추가
  .github/workflows/FrontendCD.yml
Labels: ⚙ Setting, ✨ Feature, 🌏 Deploy

#206 [Backend] 메인 페이지에 필요한 기본 트림 이미지 데이터 수정 #205
  backend/src/test/resources/csv/trims.csv
Labels: 📬 API, 🔧 Backend

#208 [Front-End] feat: 옵션 선택 카드 동작 분리
  frontend/src/pages/OptionPickerPage/OptionCard/index.jsx
  frontend/src/pages/OptionPickerPage/OptionCard/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#209 [Backend] 색상별 기본 모델 이미지 스키마 추가
  backend/src/test/resources/csv/model_exterior_colors.csv
  backend/src/test/resources/csv/model_interior_colors.csv
  backend/src/test/resources/csv/trims.csv
  backend/src/test/resources/schema.sql
Labels: 🔧 Backend, 📚 DB

#211 [Backend] 세부 트림 조회 API 구현 #113
  backend/src/main/java/softeer/wantcar/cartalog/entity/model/ModelOption.java
  backend/src/main/java/softeer/wantcar/cartalog/global/GlobalExceptionHandler.java
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/ModelPerformanceDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/ModelTypeDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/ModelTypeListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/OptionDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/DetailTrimInfoDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimQueryService.java
  backend/src/test/java/softeer/wantcar/cartalog/model/controller/ModelControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/service/TrimQueryServiceTest.java
Labels: ✨ Feature, 📬 API, 🔧 Backend

#213 [Backend] 모델 타입 식별자를 통해 모델 타입 유형을 가져오지 못하는 문제 #212
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImpl.java
Labels: 🐞 BugFix, 📬 API, 🔧 Backend

#214 [Backend] 트림 쿼리 Repository의 누락되었던 테스트 추가
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
Labels: ✅ Test, 🔧 Backend

#216 [Front-End] feat: 옵션 선택 페이지 추가
  frontend/src/components/RoundButton/style.jsx
  frontend/src/pages/OptionPickerPage/Info/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/CategorySelector/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/CategorySelector/style.jsx
  frontend/src/pages/OptionPickerPage/Pick/TypeSelector/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/TypeSelector/style.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/style.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#217 [Backend] 트림 외장 색상 목록 조회 API 구현 #114
  backend/src/main/java/softeer/wantcar/cartalog/global/ServerPaths.java
  backend/src/main/java/softeer/wantcar/cartalog/global/utils/CompareUtils.java
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/model/dto/ModelTypeListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimColorController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimExteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimTestRepository.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImplTest.java
Labels: 📬 API, 🔧 Backend

#218 [Front-End] 모델타입 API 연동
  frontend/src/components/TypeCard/style.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/style.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Info/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/constants.js
  frontend/src/pages/ModelTypePage/Pick/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Pick/PickCard/index.jsx
  frontend/src/pages/ModelTypePage/Pick/constants.js
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/constants.js
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#222 [Front-End] 트림선택 API 연동 수정 및 Context API 수정
  frontend/src/components/PriceStaticBar/index.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Pick/PickCard/index.jsx
  frontend/src/pages/ModelTypePage/constants.js
  frontend/src/pages/TrimSelectPage/Info/HMGData/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#225 [Front-End] 외장색상 페이지 API 연동
  frontend/assets/icons/arrow_left.svg
  frontend/assets/icons/arrow_right.svg
  frontend/assets/images/ModelType/body.png
  frontend/assets/images/ModelType/diesel.png
  frontend/assets/images/TrimSelect/LeBlanc/exterior.png
  frontend/assets/images/TrimSelect/LeBlanc/interior.png
  frontend/assets/images/TrimSelect/LeBlanc/wheel.png
  frontend/assets/images/TrimSelect/interior.png
  frontend/assets/images/TrimSelect/wheel.png
  frontend/src/components/ColorCard/style.jsx
  frontend/src/components/NextColor/index.jsx
  frontend/src/components/NextColor/style.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/style.jsx
  frontend/src/pages/ExteriorColorPage/Info/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#224 [Backend] 색상 코드 id에서 code로 통일 #223
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimListResponseDto.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
Labels: 🐞 BugFix, 🔧 Backend

#233 [Front-End] 트림선택 API 변경 내용 반영
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
Labels: 🐞 BugFix, 📬 API, 🖌 Frontend

#231 [Backend] 잘못된 주소 경로 수정 #230
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimExteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImpl.java
  backend/src/test/resources/csv/model_exterior_colors.csv
  backend/src/test/resources/csv/model_options.csv
  backend/src/test/resources/schema.sql
Labels: 🐞 BugFix, 🔧 Backend

#236 [Front-End] 옵션 선택 페이지 useData훅 이용해서 상태 관리하도록 수정
  frontend/src/components/Section/index.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/utils/Context/index.jsx
  frontend/src/utils/Storage/index.js
Labels: ✨ Feature, 🖌 Frontend

#237 [Front-End] 외장색상 API 수정 & 360도 수정 & Nav 수정
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/pages/ExteriorColorPage/Info/TrimImage/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#239 [Front-End] fix: State key 이름 수정
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: 🐞 BugFix, 🖌 Frontend

#240 [Backend] 트림 내장 색상 목록 조회 API 구현 #115
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimColorController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimInteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImplTest.java
Labels: 🐞 BugFix, 📬 API, 🔧 Backend

#241 [Front-End] 다른 트림 선택 시에 fetch 초기화
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
Labels: 🐞 BugFix, 📬 API, 🖌 Frontend

#242 [Front-End] 내장색상 API 연동
  frontend/src/components/Section/index.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/Info/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Info/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#244 [Front-End] default 값 설정 state 생성 및 반영
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: 🐞 BugFix, 📬 API, 🖌 Frontend

#245 [Android] 견적 완료 레이아웃 구현#180
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/res/drawable/img_confirm_bgr.png
  Android/app/src/main/res/drawable/img_main_logo.png
  Android/app/src/main/res/drawable/tmp_complete_car.png
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_confirm.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/styles.xml
  Android/app/src/main/res/values/themes.xml
Labels: ✨ Feature, 📱Android

#247 [Android] 차량 이미지 360도 돌리기 구현 #130
  Android/app/build.gradle
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/remote/CarRemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/res/drawable/icon_360_default.png
  Android/app/src/main/res/layout/fragment_exterior.xml
Labels: ✨ Feature, 📱Android

#253 [Android] 2주차 코드 리뷰 사항 반영하기 #248
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/OptionFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/res/drawable/selector_btn_check.xml
  Android/app/src/main/res/drawable/selector_btn_price_summary.xml
  Android/app/src/main/res/drawable/selector_btn_selected_car.xml
  Android/app/src/main/res/drawable/selector_radio_exterior_interior.xml
  Android/app/src/main/res/drawable/selector_radio_option_category.xml
  Android/app/src/main/res/drawable/tmp_img_interior_color.png
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/dialog_option_detail.xml
  Android/app/src/main/res/layout/dialog_type_detail.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/layout/item_exterior_color.xml
  Android/app/src/main/res/layout/item_interior_color.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/layout/view_typeselect.xml
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
Labels: 📱Android

#254 [Android] Databinding에 Activity나 Fragment 주입한 이슈 해결 #210
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TypeDetailPopupAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/PriceSummaryBottomSheetFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/view/TypeSelectView.kt
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/layout/view_typeselect.xml
Labels: 📱Android

#255 [Front-End] 완료 페이지 레이아웃 Fe feature/#249
  frontend/assets/icons/arrow_down.svg
  frontend/assets/icons/arrow_down_24.svg
  frontend/src/components/Chart/index.jsx
  frontend/src/components/Chart/style.jsx
  frontend/src/components/HMGCard/index.jsx
  frontend/src/components/HMGCard/style.jsx
  frontend/src/components/Header/Logo/style.jsx
  frontend/src/components/Toggle/style.jsx
  frontend/src/constants.js
  frontend/src/pages/EstimationPage/Detail/DetailCard/DetailItem/index.jsx
  frontend/src/pages/EstimationPage/Detail/DetailCard/DetailItem/style.jsx
  frontend/src/pages/EstimationPage/Detail/DetailCard/DetailTitle/index.jsx
  frontend/src/pages/EstimationPage/Detail/DetailCard/DetailTitle/style.jsx
  frontend/src/pages/EstimationPage/Detail/DetailCard/index.jsx
  frontend/src/pages/EstimationPage/Detail/DetailCard/style.jsx
  frontend/src/pages/EstimationPage/Detail/index.jsx
  frontend/src/pages/EstimationPage/Detail/style.jsx
  frontend/src/pages/EstimationPage/HMGArea/PriceCard/Graph/graph.svg
  frontend/src/pages/EstimationPage/HMGArea/PriceCard/Graph/index.jsx
  frontend/src/pages/EstimationPage/HMGArea/PriceCard/Graph/style.jsx
  frontend/src/pages/EstimationPage/HMGArea/PriceCard/index.jsx
  frontend/src/pages/EstimationPage/HMGArea/SimilarCard/index.jsx
  frontend/src/pages/EstimationPage/HMGArea/SimilarCard/style.jsx
  frontend/src/pages/EstimationPage/HMGArea/index.jsx
  frontend/src/pages/EstimationPage/HMGArea/style.jsx
  frontend/src/pages/EstimationPage/Info/Summary/index.jsx
  frontend/src/pages/EstimationPage/Info/Summary/style.jsx
  frontend/src/pages/EstimationPage/Info/index.jsx
  frontend/src/pages/EstimationPage/Info/style.jsx
  frontend/src/pages/EstimationPage/Preview/index.jsx
  frontend/src/pages/EstimationPage/Preview/style.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/EstimationPage/style.jsx
  frontend/src/styles/themes.jsx
Labels: ✨ Feature, 🖌 Frontend

#257 [Front-End] feat: 모델타입 선택 페이지 그래프 애니메이션 추가
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/style.jsx
  frontend/src/pages/ModelTypePage/Info/style.jsx
Labels: 🎨 Html&css, 🖌 Frontend

#259 [Front-End] fix: 완료 페이지 그라데이션 배경 너비 수정
  frontend/src/pages/EstimationPage/Preview/index.jsx
  frontend/src/pages/EstimationPage/Preview/style.jsx
Labels: 🐞 BugFix, 🖌 Frontend

#260 [Backend] 옵션 정보 목록 조회 API 구현 #116
  backend/src/main/java/softeer/wantcar/cartalog/global/ServerPath.java
  backend/src/main/java/softeer/wantcar/cartalog/global/dto/HMGDataDto.java
  backend/src/main/java/softeer/wantcar/cartalog/global/dto/PowerTrainHMGDataDto.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimOptionController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimInteriorColorListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimOptionListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimOptionService.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimOptionServiceImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimQueryService.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimOptionControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/service/TrimOptionServiceTest.java
  backend/src/test/resources/csv/model_option_parent_categories.csv
  backend/src/test/resources/schema.sql
Labels: ✨ Feature, 📬 API, 🔧 Backend

#261 [Backend] 옵션 상세 정보 조회 API 구현 #117
  backend/src/main/java/softeer/wantcar/cartalog/global/ServerPath.java
  backend/src/main/java/softeer/wantcar/cartalog/global/utils/RowMapperUtils.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/controller/TrimOptionController.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimOptionDetailResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimPackageDetailResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/MockTrimColorService.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimColorService.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimOptionService.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimOptionServiceImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimColorControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/controller/TrimOptionControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/service/MockTrimColorServiceTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/service/TrimOptionServiceTest.java
  backend/src/test/resources/schema.sql
Labels: 📬 API, 🔧 Backend

#264 [Android] 데이터 구조 수정 & Trim API 연동 #250
  Android/app/src/main/java/com/softeer/cartalog/data/model/DefaultInfo.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/ModelOption.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/ModelType.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Trim.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/TrimHmgData.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Trims.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/remote/CarRemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ImageBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ConfirmFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/InteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/OptionFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/CommonViewModelFactory.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TrimViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_confirm.xml
  Android/app/src/main/res/layout/fragment_exterior.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/fragment_option.xml
  Android/app/src/main/res/layout/fragment_trim.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/layout/item_trim_card.xml
Labels: 📱Android

#265 [Backend] mysql 쿼리문 수정
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryImpl.java
Labels: 🐞 BugFix, 🔧 Backend

#267 [Front-End] feat: useIntersectionObserver 훅 추가
  frontend/src/hooks/useIntersectionObserver.js
Labels: ✨ Feature, 🖌 Frontend

#269 [Front-End] feat: 유사견적 그래프 useIntersectionObserver 이용 애니메이션 개선
  frontend/src/pages/EstimationPage/HMGArea/SimilarCard/index.jsx
  frontend/src/pages/EstimationPage/HMGArea/SimilarCard/style.jsx
Labels: 🖌 Frontend

#272 [Backend] 모델 타입 옵션 쿼리 수정
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/model/controller/ModelControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImplTest.java
Labels: 🐞 BugFix, 📬 API, 🔧 Backend

#274 [Front-End] 라우터 캐러쉘 적용
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/components/Header/Nav/style.jsx
  frontend/src/components/NextButton/index.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#278 [Front-End] feat: 완료 페이지 타이틀 애니메이션 제거
  frontend/src/pages/EstimationPage/HMGArea/SimilarCard/index.jsx
  frontend/src/pages/EstimationPage/Preview/index.jsx
  frontend/src/pages/EstimationPage/Preview/style.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/EstimationPage/style.jsx
Labels: 🖌 Frontend

#281 [Backend] 트림 목록 조회 Api 항목 추가 #273
  backend/src/main/java/softeer/wantcar/cartalog/trim/dto/TrimListResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryTest.java
Labels: 📬 API, 🔧 Backend

#282 [Front-End] 완료페이지 트랜지션 적용
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#284 [Front-End] 외장색상, 내장색상 API 수정
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
Labels: 🐞 BugFix, 🖌 Frontend

#288 [Backend] 사용자 데이터 및 견적서 테이블 생성 #271
  backend/src/test/resources/csv/estimate_options.csv
  backend/src/test/resources/csv/estimate_packages.csv
  backend/src/test/resources/csv/estimates.csv
  backend/src/test/resources/csv/hash_tag_similarities.csv
  backend/src/test/resources/csv/model_option_parent_categories.csv
  backend/src/test/resources/csv/pending_hash_tag_similarities.csv
  backend/src/test/resources/csv/similar_estimates.csv
  backend/src/test/resources/schema.sql
Labels: 🔧 Backend, 📚 DB

#292 [Front-End] 견적 요약 팝업 추가
  frontend/assets/icons/cancel.svg
  frontend/index.html
  frontend/src/components/NextButton/index.jsx
  frontend/src/components/SummaryPopup/InfoPanel/LineInfo.jsx
  frontend/src/components/SummaryPopup/InfoPanel/index.jsx
  frontend/src/components/SummaryPopup/InfoPanel/style.jsx
  frontend/src/components/SummaryPopup/index.jsx
  frontend/src/components/SummaryPopup/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#298 [Front-End] design: exit 아이콘 색 추가
  frontend/src/components/Header/Exit/style.jsx
Labels: 🎨 Html&css, 🖌 Frontend

#289 [Backend] 사용자 데이터 및 견적서 테이블 생성 #271
  backend/src/test/resources/schema.sql
Labels: 🐞 BugFix, 🔧 Backend, 📚 DB

#293 [Android] Room DB 데이터 구조 설정 및 default option 저장 #262
  Android/app/build.gradle
  Android/app/src/main/java/com/softeer/cartalog/data/enums/PriceDataType.kt
  Android/app/src/main/java/com/softeer/cartalog/data/local/MyCarDao.kt
  Android/app/src/main/java/com/softeer/cartalog/data/local/MyCarDatabase.kt
  Android/app/src/main/java/com/softeer/cartalog/data/local/PriceDataDao.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/DefaultColor.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/DefaultInfo.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/db/MyCar.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/db/MyCarWithPriceData.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/db/PriceData.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/local/CarLocalDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TrimViewModel.kt
Labels: ✨ Feature, 📱Android

#302 [Front-End] 옵션페이지 API 세팅
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/components/Header/Nav/style.jsx
  frontend/src/components/SummaryPopup/index.jsx
  frontend/src/components/SummaryPopup/style.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/index.jsx
  frontend/src/pages/OptionPickerPage/constants.js
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#300 [Android] TypeFragment API연동 #251
  Android/app/build.gradle
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/com/softeer/cartalog/data/model/TrimDetail.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Trims.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Type.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/TypeHmgData.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/TypeOption.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/Types.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/remote/CarRemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ExteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ImageBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/InteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TrimCardAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/TypeDetailPopupAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/TypeDetailDialog.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/TypeDetailPopupActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/view/TypeSelectView.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/dialog_type_detail_popup.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/layout/item_type_detail_popup.xml
  Android/app/src/main/res/layout/view_typeselect.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/build.gradle
Labels: ✨ Feature, 📬 API, 📱Android

#307 [Front-End] 페이지 캐러쉘 적용 수정
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/components/Header/Nav/index.jsx
  frontend/src/components/Header/constants.js
  frontend/src/components/Interaction/index.jsx
  frontend/src/components/Interaction/style.jsx
  frontend/src/components/NextButton/index.jsx
  frontend/src/components/PageLayout/index.jsx
  frontend/src/components/PriceStaticBar/index.jsx
  frontend/src/components/PriceStaticBar/style.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/components/Section/style.jsx
  frontend/src/components/SummaryPopup/style.jsx
  frontend/src/main.jsx
  frontend/src/pages/EstimationPage/index.jsx
  frontend/src/pages/EstimationPage/style.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/style.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/constants.js
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🔨 Refactor, 🖌 Frontend

#305 [Backend] 모델 패키지 테이블 추가 및 기존 코드 개선 #301
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimOptionServiceImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/service/TrimOptionServiceTest.java
  backend/src/test/resources/csv/detail_trim_options.csv
  backend/src/test/resources/csv/detail_trim_packages.csv
  backend/src/test/resources/csv/estimate_options.csv
  backend/src/test/resources/csv/estimate_packages.csv
  backend/src/test/resources/csv/hmg_data.csv
  backend/src/test/resources/csv/model_options.csv
  backend/src/test/resources/csv/model_package_hash_tags.csv
  backend/src/test/resources/csv/model_packages.csv
  backend/src/test/resources/csv/package_hash_tags.csv
  backend/src/test/resources/schema.sql
Labels: ✨ Feature, 🐞 BugFix, 📬 API, 🔧 Backend

#310 [Front-End] fix: 브라우저 width 줄어들었을 때 레이아웃 깨지는 문제 수정
  frontend/src/components/Interaction/index.jsx
Labels: 🖌 Frontend

#312 [Backend] 해시태그 미제공 버그 수정 #311
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimOptionQueryRepositoryImpl.java
Labels: 🐞 BugFix, 📬 API, 🔧 Backend

#313 [Backend] 테스트용 샘플 견적서 임시 데이터 생성 #291
  backend/src/test/resources/csv/estimate_options.csv
  backend/src/test/resources/csv/estimate_packages.csv
  backend/src/test/resources/csv/estimates.csv
Labels: 🔧 Backend

#315 [Front-End] 페이지마다 따로 스크롤할 수 있도록 분리 Fe feature/#314
  frontend/src/components/Interaction/index.jsx
  frontend/src/components/Section/style.jsx
  frontend/src/pages/EstimationPage/Preview/style.jsx
  frontend/src/pages/EstimationPage/style.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
  frontend/src/pages/InteriorColorPage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/OptionPickerPage/Pick/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#316 [Front-End] Footer를 Section에서 분리해서 Fixed 적용하기
  frontend/src/components/Footer/index.jsx
  frontend/src/components/Footer/style.jsx
  frontend/src/components/Interaction/index.jsx
  frontend/src/components/Section/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/index.jsx
  frontend/src/pages/ExteriorColorPage/Pick/style.jsx
  frontend/src/pages/ExteriorColorPage/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/index.jsx
  frontend/src/pages/InteriorColorPage/Pick/style.jsx
  frontend/src/pages/InteriorColorPage/index.jsx
  frontend/src/pages/ModelTypePage/Pick/HMGData/index.jsx
  frontend/src/pages/ModelTypePage/Pick/index.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/style.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/pages/TrimSelectPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🐞 BugFix, 🔨 Refactor, 🖌 Frontend

#320 [Front-End] fix: 첫 페이지에서 footer가 잠깐 보이는 문제 수정
  frontend/src/components/Footer/index.jsx
  frontend/src/components/Footer/style.jsx
  frontend/src/pages/ModelTypePage/Pick/style.jsx
Labels: 🐞 BugFix, 🖌 Frontend

#321 [Android] 내장/외장 Fragment API연동 #252
  Android/app/src/main/java/com/softeer/cartalog/data/model/CarColor.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/ExteriorColors.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/InteriorColors.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/remote/CarRemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ExteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ImageBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/InteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/TypeDetailDialog.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/InteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/util/UtilManager.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/CommonViewModelFactory.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/InteriorViewModel.kt
  Android/app/src/main/res/layout/fragment_exterior.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/item_exterior_color.xml
  Android/app/src/main/res/layout/item_interior_color.xml
  Android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 📬 API, 📱Android

#322 [Front-End] 첫페이지에서 예산설정 슬라이더 보이지 않게
  frontend/src/components/Interaction/index.jsx
  frontend/src/components/PriceStaticBar/Slider/index.jsx
  frontend/src/components/PriceStaticBar/constant.js
  frontend/src/components/PriceStaticBar/index.jsx
  frontend/src/components/PriceStaticBar/style.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/pages/TrimSelectPage/Pick/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#324 [Android] 견적 요약 Room DB 데이터 연동 #294
  Android/app/src/main/java/com/softeer/cartalog/data/local/MyCarDao.kt
  Android/app/src/main/java/com/softeer/cartalog/data/local/PriceDataDao.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/SummaryCarImage.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/SummaryOptionPrice.kt
  Android/app/src/main/java/com/softeer/cartalog/data/model/db/MyCar.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/api/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/local/CarLocalDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/remote/CarRemoteDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/SummaryOptionsAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/dialog/PriceSummaryBottomSheetFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/CommonViewModelFactory.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/PriceSummaryViewModel.kt
  Android/app/src/main/res/layout/dialog_option_detail.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/layout/item_price_summary_option.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/app/src/main/res/values/strings.xml
Labels: ✨ Feature, 📱Android

#326 [Front-End] 옵션 선택 페이지 API 연결 Fe feature/#227
  frontend/src/pages/OptionPickerPage/Info/index.jsx
  frontend/src/pages/OptionPickerPage/OptionCard/index.jsx
  frontend/src/pages/OptionPickerPage/OptionCard/style.jsx
  frontend/src/pages/OptionPickerPage/Pick/CategorySelector/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🖌 Frontend

#327 [Android] LiveData 선언방식 관련 이슈 수정 #325
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ImageBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/InteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/MainViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/OptionViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TrimViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
Labels: 📱Android

#328 [Front-End] 견적 요약 API 연동
  frontend/src/components/NextButton/index.jsx
  frontend/src/components/SummaryPopup/constants.js
  frontend/src/components/SummaryPopup/index.jsx
  frontend/src/components/SummaryPopup/style.jsx
  frontend/src/pages/TrimSelectPage/Pick/TrimCard/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 📬 API, 🖌 Frontend

#330 [Backend] 견적서 테이블 개선 및 테스트 데이터 추가 #329
  backend/src/test/resources/csv/estimate_options.csv
  backend/src/test/resources/csv/estimate_packages.csv
  backend/src/test/resources/csv/estimates.csv
  backend/src/test/resources/csv/release_records.csv
  backend/src/test/resources/schema.sql
Labels: 🐞 BugFix, 🔧 Backend, 📚 DB

#332 [Android] UI 작동 수정 및 패키지 구조 변경 #331
  Android/app/src/main/java/com/softeer/cartalog/data/remote/CarApi.kt
  Android/app/src/main/java/com/softeer/cartalog/data/remote/RetrofitClient.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
Labels: 📱Android

#334 [Front-End] design: 모델 타입 선택 페이지 이미지 배경 투명화
  frontend/src/pages/ModelTypePage/Info/style.jsx
Labels: 🎨 Html&css, 🖌 Frontend

#335 [Front-End] 최대출력, 최대토크 그래프 값 수정 및 옵션페이지 로딩 구현
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/index.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/HMGChart/style.jsx
  frontend/src/pages/ModelTypePage/constants.js
  frontend/src/pages/ModelTypePage/index.jsx
  frontend/src/pages/OptionPickerPage/constants.js
  frontend/src/pages/OptionPickerPage/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🐞 BugFix, 🔨 Refactor, 🖌 Frontend

#337 [Front-End] design: TypeCard border radius 수정
  frontend/src/components/TypeCard/style.jsx
Labels: 🎨 Html&css, 🖌 Frontend

#338 [Front-End] 모델타입 Info영역 word-break 추가 및 이미지 위치 변경
  frontend/src/components/RoundButton/style.jsx
  frontend/src/components/Title/style.jsx
  frontend/src/pages/ModelTypePage/Info/HMGData/style.jsx
  frontend/src/pages/ModelTypePage/Info/style.jsx
Labels: 🐞 BugFix, 🔨 Refactor, 🖌 Frontend

#343 [Backend] 가격 분포 데이터 조회 API 구현
  backend/src/main/java/softeer/wantcar/cartalog/estimate/controller/EstimateController.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/controller/EstimateControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImplTest.java
Labels: ✨ Feature, 📬 API, 🔧 Backend

#345 [Backend] 유사 출고 견적 조회 API 구현 #119
  backend/src/main/java/softeer/wantcar/cartalog/estimate/controller/SimilarityController.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/dto/SimilarEstimateDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/dto/SimilarEstimateResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/dto/EstimateInfoDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/dto/EstimateOptionInfoDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/dto/EstimateOptionListDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/dto/HashTagMap.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/SimilarityService.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/SimilarityServiceImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/model/controller/ModelController.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/model/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/service/TrimOptionService.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/controller/EstimateControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/controller/SimilarityControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/service/SimilarityServiceTest.java
  backend/src/test/java/softeer/wantcar/cartalog/model/repository/ModelOptionQueryRepositoryImplTest.java
  backend/src/test/resources/csv/similar_estimates.csv
  backend/src/test/resources/schema.sql
Labels: ✨ Feature, 📬 API, 🔧 Backend

#346 [Front-End] 견적요약 모달 옵션 데이터 연동
  frontend/src/components/SummaryPopup/index.jsx
  frontend/src/components/SummaryPopup/style.jsx
  frontend/src/pages/ModelTypePage/Pick/PickCard/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/index.jsx
  frontend/src/utils/Context/index.jsx
Labels: ✨ Feature, 🔨 Refactor, 🖌 Frontend

#348 [Front-End] 견적요약 모달 옵션 이름 길이 처리
  frontend/src/components/SummaryPopup/InfoPanel/style.jsx
Labels: 🐞 BugFix, 🔨 Refactor, 🖌 Frontend

#350 [Backend] 견적 등록 API 구현 #120
  backend/src/main/java/softeer/wantcar/cartalog/estimate/controller/EstimateController.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/dto/EstimateRequestDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateCommandRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateCommandRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/dto/SimilarityInfo.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/EstimateService.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/EstimateServiceImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/SimilarityServiceImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/dto/EstimateDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/dto/PendingHashTagSimilaritySaveDto.java
  backend/src/main/java/softeer/wantcar/cartalog/global/GlobalExceptionHandler.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimQueryRepositoryImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/controller/EstimateControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateCommandRepositoryImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/service/EstimateServiceImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/service/SimilarityServiceTest.java
  backend/src/test/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImplTest.java
Labels: ✨ Feature, 📬 API, 🔧 Backend

#355 [Backend] 유사 견적 조회 API 변경 #354
  backend/src/main/java/softeer/wantcar/cartalog/estimate/controller/SimilarityController.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/dto/SimilarEstimateDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/dto/SimilarEstimateResponseDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/QueryString.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityCommandRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepository.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepositoryImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/repository/dto/EstimateOptionIdListDto.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/SimilarityService.java
  backend/src/main/java/softeer/wantcar/cartalog/estimate/service/SimilarityServiceImpl.java
  backend/src/main/java/softeer/wantcar/cartalog/trim/repository/TrimColorQueryRepositoryImpl.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/controller/SimilarityControllerTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateCommandRepositoryImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryImplTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/EstimateQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/repository/SimilarityQueryRepositoryTest.java
  backend/src/test/java/softeer/wantcar/cartalog/estimate/service/SimilarityServiceTest.java
Labels: 📬 API, 🔧 Backend

#359 [Front-End] feat: 옵션 선택 페이지 기본/추가옵션 인디케이터 추가
  frontend/src/pages/OptionPickerPage/Pick/TypeSelector/index.jsx
  frontend/src/pages/OptionPickerPage/Pick/TypeSelector/style.jsx
Labels: ✨ Feature, 🖌 Frontend

#356 [Android] Room DB 데이터 연결 #295
  Android/app/src/main/java/com/softeer/cartalog/data/model/db/PriceData.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepository.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/CarRepositoryImpl.kt
  Android/app/src/main/java/com/softeer/cartalog/data/repository/local/CarLocalDataSource.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/activity/MainActivity.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/BindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ButtonBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ExteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/ImageBindingAdapters.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/adapter/InteriorColorAdapter.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/ExteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/InteriorFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/OptionFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TrimFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/ui/fragment/TypeFragment.kt
  Android/app/src/main/java/com/softeer/cartalog/util/PriceDataCallback.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/ExteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/InteriorViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/MainViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/PriceSummaryViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TrimViewModel.kt
  Android/app/src/main/java/com/softeer/cartalog/viewmodel/TypeViewModel.kt
  Android/app/src/main/res/layout/activity_main.xml
  Android/app/src/main/res/layout/fragment_exterior.xml
  Android/app/src/main/res/layout/fragment_interior.xml
  Android/app/src/main/res/layout/fragment_price_summary_bottom_sheet.xml
  Android/app/src/main/res/layout/fragment_type.xml
  Android/app/src/main/res/navigation/nav_graph.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/styles.xml
Labels: ✨ Feature, 📱Android
